!!! 5
%html
  %head
    %title
      Tg4
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: '/home/index'}
            TeamGenerator4
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '/user/list'}
                ユーザ一覧
            %li
              %a{href: '/team/list'}
                チーム一覧
            %li
              %a{href: '/versus/list'}
                対戦結果一覧
    .container
      = yield